---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=2309%20Clouet%20St,%20New%20Orleans,%20USA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2309",
                       "short_name" : "2309",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Clouet Street",
                       "short_name" : "Clouet St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Florida Area",
                       "short_name" : "Florida Area",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                      [...]
