$light_grey: #e0e0e0;
$medium_grey: #aaa;
$grey: #808080;
$white: #fff;
$dark_light: #333;
$blue_input: #4d90fe;
$search_box_shadow: rgba(0, 0, 0, .3);
$color_d9: #d9d9d9;
$color_9: #999;
$color_e6: #e6e6e6;
