.container {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.article {
  padding: 0 0 20px;

  border-bottom: solid 1px $light_grey;

  &:last-child {
    border-bottom: 0;
  }

  h2 {
    display: inline-block;
  }

  i {
    margin-left: 5px;

    color: $grey;

    font-size: 24px;
  }

  p {
    margin-left: 20px;
  }
}
