---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=New%20York,%20US&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.91525559999999,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4960439,
                          "lng" : -74.25573489999999
                       }
                    },
                    "location" : {
                       "lat" : 40.7127837,
                       "lng" : -74.0059413
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.91525559999999,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4960439,
                          "lng" : -74.25573489999999
                       }
                    }
                 },
                 "place_id" : "ChIJOwg_06VPwokRYv534QaPC8g",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Union",
                       "short_name" : "Union",
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=New%20Orleans,%20US&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
