---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=New%20Orleans&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New Orleans",
                       "short_name" : "New Orleans",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orleans Parish",
                       "short_name" : "Orleans Parish",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Louisiana",
                       "short_name" : "LA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New Orleans, LA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.1748625,
                          "lng" : -89.62693109999999
                       },
                       "southwest" : {
                          "lat" : 29.8666609,
                          "lng" : -90.14007389999999
                       }
                    },
                    "location" : {
                       "lat" : 29.95106579999999,
                       "lng" : -90.0715323
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.1748625,
                          "lng" : -89.62693109999999
                       },
                       "southwest" : {
                          "lat" : 29.8666609,
                          "lng" : -90.14007389999999
                       }
                    }
                 },
                 "place_id" : "ChIJZYIRslSkIIYRtNMiXuhbBts",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 24 Mar 2016 10:50:09 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=New%20Orleans&key=AIzaSyAGHiovpE1lzfnNcyingH2ICSf82MFC1aM&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Browser API keys cannot have referer restrictions when used with this API.",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 28 Mar 2016 13:33:49 GMT
recorded_with: VCR 3.0.1
