---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=New%20Orleans&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New Orleans",
                       "short_name" : "New Orleans",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orleans Parish",
                       "short_name" : "Orleans Parish",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Louisiana",
                       "short_name" : "LA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New Orleans, LA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.1748625,
                          "lng" : -89.62693109999999
                       },
                       "southwest" : {
                          "lat" : 29.8666609,
                          "lng" : -90.14007389999999
                       }
                    },
                    "location" : {
                       "lat" : 29.95106579999999,
                       "lng" : -90.0715323
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.1748625,
                          "lng" : -89.62693109999999
                       },
                       "southwest" : {
                          "lat" : 29.8666609,
                          "lng" : -90.14007389999999
                       }
                    }
                 },
                 "place_id" : "ChIJZYIRslSkIIYRtNMiXuhbBts",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 22 Mar 2016 15:39:24 GMT
recorded_with: VCR 3.0.1
